/* plain-old boring css */
body {
    background: black;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

h2 {
    color: whitesmoke;
    text-align: center;
}

p {
    color: whitesmoke;
    text-align: center;
}

/* the orange box that spins on hover on index.html */
.orangeBox {
  

    position: fixed;
    top: 50%;
    left: 50%;
    

    background-color: orange;
    width: 200px;
    height: 50px;
    text-align: center;

    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    
}   

.congrats-page {
    color: whitesmoke;
}

.return-home-link {
    color: whitesmoke;
    text-align: center;
}

.return-home-button {

    position: fixed;
    top: 47.8%;
    left: 47.8%;
    background-color: darkgreen;
    width: 200px;
    height: 30px;
}


/* special effects */
.orangeBox:hover {
    animation: spin3D 2s linear infinite;
}

/* animaion keyframing */

@keyframes spin3D {
    from {
        transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateX(360deg) rotateY(360deg);
    }
}




