body {
    background: black;
}

.orangeBox {
  

    position: fixed;
    top: 50%;
    left: 50%;
    

    background-color: orange;
    width: 200px;
    height: 50px;
    text-align: center;

    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    
}   

.orangeBox:hover {
    animation: spin3D 2s linear infinite;
}

@keyframes spin3D {
    from {
        transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotateX(360deg) rotateY(360deg);
    }
}




