body {
    background: #0f0f0f;
    color: white;
    font-family: system-ui;
    padding: 30px;
}

#toolbar {
    margin-bottom: 15px;
}

button {
    background: #222;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #444;
}

#editor {
    background: #111;
    border: 1px solid #444;
    padding: 15px;
    min-height: 300px;
    font-size: 18px;
    outline: none;
    border-radius: 10px;
}
